<center>
    <h1>Small Business Administration</h1>
    <h2>Paycheck Protection Program Recipients</h2>
    <h3>Wrangling $150k &amp; Up Loans</h3>
</center>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'D:\Documents\Projects\PPP Recipients\foia_150k_plus.csv',low_memory=False)

In [3]:
ppp=df.copy()

In [4]:
ppp.head(1)

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00

In [5]:
ppp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661218 entries, 0 to 661217
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   LoanRange      661218 non-null  object
 1   BusinessName   661210 non-null  object
 2   Address        661201 non-null  object
 3   City           661203 non-null  object
 4   State          661218 non-null  object
 5   Zip            661202 non-null  float64
 6   NAICSCode      654435 non-null  float64
 7   BusinessType   659789 non-null  object
 8   RaceEthnicity  661218 non-null  object
 9   Gender         661218 non-null  object
 10  Veteran        661218 non-null  object
 11  NonProfit      42462 non-null   object
 12  JobsRetained   620712 non-null  float64
 13  DateApproved   661218 non-null  object
 14  Lender         661218 non-null  object
 15  CD             661218 non-null  object
dtypes: float64(3), object(13)
memory usage: 80.7+ MB

In [6]:
loans=ppp.LoanRange.unique()
loans

array(['a $5-10 million', 'b $2-5 million', 'c $1-2 million',
       'd $350,000-1 million', 'e $150,000-350,000'], dtype=object)

In [7]:
ppp.loc[ppp['LoanRange'] == loans[0], 'min loan'] = 5000000
ppp.loc[ppp['LoanRange'] == loans[0], 'min loan'] = 2000000
ppp.loc[ppp['LoanRange'] == loans[0], 'min loan'] = 1000000
ppp.loc[ppp['LoanRange'] == loans[0], 'min loan'] = 350000
ppp.loc[ppp['LoanRange'] == loans[0], 'min loan'] = 150000

ppp.loc[ppp['LoanRange'] == loans[0], 'avg loan'] = 7500000
ppp.loc[ppp['LoanRange'] == loans[0], 'avg loan'] = 3500000
ppp.loc[ppp['LoanRange'] == loans[0], 'avg loan'] = 1500000
ppp.loc[ppp['LoanRange'] == loans[0], 'avg loan'] = 675000
ppp.loc[ppp['LoanRange'] == loans[0], 'avg loan'] = 250000

ppp.loc[ppp['LoanRange'] == loans[0], 'max loan'] = 10000000
ppp.loc[ppp['LoanRange'] == loans[0], 'max loan'] = 5000000
ppp.loc[ppp['LoanRange'] == loans[0], 'max loan'] = 2000000
ppp.loc[ppp['LoanRange'] == loans[0], 'max loan'] = 1000000
ppp.loc[ppp['LoanRange'] == loans[0], 'max loan'] = 350000

In [8]:
ppp.head(1)

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,min loan,avg loan,max loan
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00,150000.0,250000.0,350000.0

In [9]:
ppp.NAICSCode.unique()
p=ppp.copy()
p.NAICSCode = p.NAICSCode.fillna(0)
display(ppp.head(1))
#pd.to_numeric(p.NAICSCode)
p.NAICSCode=p.NAICSCode.astype(int)
display(ppp.head(1))

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,min loan,avg loan,max loan
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00,150000.0,250000.0,350000.0

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,min loan,avg loan,max loan
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00,150000.0,250000.0,350000.0

In [10]:
industry=pd.read_csv(r'D:\Documents\Projects\naics industry.csv')
print(industry.head(1))
sector=pd.read_csv(r'D:Documents\Projects\naics sector.csv')
print(sector.head(1))
industry.industry.str.strip()
print(industry.head(1))
sector.Description.str.strip()
print(sector.head(1))

   naics                       industry
0    111  Crop ProductionT
   Sector                                 Description
0      11  Agriculture, Forestry, Fishing and Hunting
   naics                       industry
0    111  Crop ProductionT
   Sector                                 Description
0      11  Agriculture, Forestry, Fishing and Hunting

In [11]:
code=industry.naics.tolist()
desc=industry.industry.tolist()
scode=sector.Sector.tolist()
sdesc=sector.Description.tolist()
print(desc[0:3])
des=[]
for d in desc:
    des.append(d.rstrip(' '))
print(des[0:3])
desc=des
print(desc[0:3])

['Crop ProductionT             ', 'Oilseed and Grain FarmingT           ', 'FarmingT              ']
['Crop ProductionT', 'Oilseed and Grain FarmingT', 'FarmingT']
['Crop ProductionT', 'Oilseed and Grain FarmingT', 'FarmingT']

In [12]:
print(code.index(1141))
print(desc[107])
print(code[107])
print(str(code[107])[:2])

107
FishingT
1141
11

In [13]:
pcodes=ppp.NAICSCode.tolist()

In [14]:
ind=[]
sec=[]
secC=[]
for p in pcodes:
    pc=str(p)
    try:
        p=int(pc[:-2])
        sc=int(pc[:2])
        try:
            index=code.index(p)
            ind.append(desc[index])
            sindex=scode.index(sc)
            sec.append(sdesc[sindex])
            secC.append(int(scode[sindex]))
        except:
            ind.append('NA')
            sec.append('NA')
            secC.append(0)
    except:
        ind.append('NA')
        sec.append('NA')
        secC.append(0)

In [15]:
print(ind[0:2])
print(ppp.NAICSCode[0:2])
print(sec[:2])
print(secC[0:2])

print(len(ind))
print(len(sec))
print(len(secC))

['Organizations', 'Foundation, Structure, and Building Exterior Contractors']
0    813920.0
1    238190.0
Name: NAICSCode, dtype: float64
['Other Services (except Public Administration)', 'Construction']
[81, 23]
661218
661218
661218

In [16]:
ppp['Industry']=ind
ppp['SectorCode']=secC
ppp['Sector']=sec

In [17]:
ppp.head(1)

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,...,JobsRetained,DateApproved,Lender,CD,min loan,avg loan,max loan,Industry,SectorCode,Sector
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,...,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00,150000.0,250000.0,350000.0,Organizations,81,Other Services (except Public Administration)

In [18]:
ppp.to_csv(r'D:\Documents\Projects\foia_150k_plus_updated.csv')